<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bài 4</title>
</head>
<body>
<h2>Nhập sản phẩm</h2>
<form action="/product2/save" method="post">
  Name: <input type="text" name="name"><br>
  Price: <input type="number" name="price"><br>
  <button type="submit">Save</button>
</form>

<h3>Product mặc định:</h3>
<ul>
  <li th:text="${p1.name}"></li>
  <li th:text="${p1.price}"></li>
</ul>

<h3>Product vừa nhập:</h3>
<ul>
  <li th:text="${p2.name}"></li>
  <li th:text="${p2.price}"></li>
</ul>

<h3>Danh sách sản phẩm:</h3>
<ul>
  <li th:each="item : ${items}">
    <span th:text="${item.name}"></span> -
    <span th:text="${item.price}"></span>
  </li>
</ul>
</body>
</html>
